{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block conteudo %}
<hr>
<div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-md-4 mx-auto">
        <h3>Ação não Permitida</h3>
    </div>
    {% else %}
    <div class="col-md-4 mx-auto">
        <h3>Autenticação</h3>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}">Logar com Google</a>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}