# asgiref 3.7.2 - Biblioteca de conformidade com a especificação ASGI.
asgiref==3.7.2
# Exemplo de uso do asgiref:
# Usado internamente pelo Django para lidar com solicitações HTTP assíncronas.


# certifi 2023.7.22 - Um pacote com certificados SSL.
certifi==2023.7.22
# Exemplo de uso do certifi:
# Usado para verificar certificados SSL ao fazer solicitações HTTPS.


# cffi 1.16.0 - Interface Foreign Function Interface (FFI) para Python.
cffi==1.16.0
# Exemplo de uso do cffi:
# Pode ser usado para chamar funções C a partir de código Python.


# charset-normalizer 3.3.0 - Biblioteca de normalização de codificação de caracteres.
charset-normalizer==3.3.0
# Exemplo de uso do charset-normalizer:
# Pode ser usado para normalizar strings de caracteres em diferentes codificações.


# colorama 0.4.6 - Suporte multiplataforma (Windows) para texto colorido no terminal.
colorama==0.4.6
# Exemplo de uso do colorama:
# Pode ser usado para imprimir texto colorido no terminal.


# crispy-bootstrap5 0.7 - Suporte ao Bootstrap 5 para formulários Django Crispy.
crispy-bootstrap5==0.7
# Exemplo de uso do crispy-bootstrap5:
# Pode ser usado para criar formulários Django com estilo Bootstrap 5.


# cryptography 41.0.4 - Receitas e primitivas criptográficas para Python.
cryptography==41.0.4
# Exemplo de uso do cryptography:
# Pode ser usado para criptografar e descriptografar dados em Python.


# decorator 4.4.2 - Melhorando o Python com decoradores.
decorator==4.4.2
# Exemplo de uso do decorator:
# Pode ser usado para criar funções decoradoras em Python.


# defusedxml 0.7.1 - Proteção contra bombas XML em Python.
defusedxml==0.7.1
# Exemplo de uso do defusedxml:
# Pode ser usado para analisar XML com segurança em Python.


# Django 4.2.6 - O framework web Python de alto nível.
Django==4.2.6
# Exemplo de uso do Django:
# Pode ser usado para desenvolver aplicativos da web em Python.


# django-allauth 0.57.0 - Conjunto integrado de aplicativos Django para autenticação, registro e gerenciamento de contas.
django-allauth==0.57.0
# Exemplo de uso do django-allauth:
# Pode ser usado para adicionar recursos de autenticação e gerenciamento de contas em aplicativos Django.


# django-braces 1.15.0 - Mixins genéricos e reutilizáveis para visualizações baseadas em classes do Django.
django-braces==1.15.0
# Exemplo de uso do django-braces:
# Pode ser usado para adicionar mixins úteis a visualizações baseadas em classes no Django.


# django-cleanup 8.0.0 - Limpeza automática de arquivos criados por campos FileFields e ImageFields do Django.
django-cleanup==8.0.0
# Exemplo de uso do django-cleanup:
# Pode ser usado para limpar automaticamente arquivos antigos em campos de arquivos no Django.


# django-crispy-forms 2.0 - Um aplicativo Django que facilita a construção de interfaces de usuário modernas e responsivas com frameworks CSS.
django-crispy-forms==2.0
# Exemplo de uso do django-crispy-forms:
# Pode ser usado para criar formulários atraentes e responsivos em aplicativos Django.


# django-role-permissions 3.2.0 - Um conjunto de utilitários para lidar com funções e permissões no Django.
django-role-permissions==3.2.0
# Exemplo de uso do django-role-permissions:
# Pode ser usado para adicionar permissões personalizadas e funções em aplicativos Django.


# ffmpeg-python 0.2.0 - Biblioteca Python para trabalhar com o FFmpeg, com suporte a filtragem complexa.
ffmpeg-python==0.2.0
# Exemplo de uso do ffmpeg-python:
# Pode ser usado para processar e converter arquivos de vídeo e áudio usando o FFmpeg em Python.


# future 0.18.3 - Suporte para código Python 3 e 2 em um único código.
future==0.18.3
# Exemplo de uso do future:
# Pode ser usado para escrever código Python que seja compatível com ambas as versões 2 e 3.


# idna 3.4 - Implementação da especificação IDNA 2008 em Python.
idna==3.4
# Exemplo de uso do idna:
# Pode ser usado para manipular nomes de domínio internacionalizados em Python.


# imageio 2.31.5 - Biblioteca para ler e gravar uma ampla variedade de formatos de imagem.
imageio==2.31.5
# Exemplo de uso do imageio:
# Pode ser usado para trabalhar com imagens em vários formatos em Python.


# imageio-ffmpeg 0.4.9 - Suporte ao FFmpeg para a biblioteca imageio.
imageio-ffmpeg==0.4.9
# Exemplo de uso do imageio-ffmpeg:
# Pode ser usado para adicionar suporte ao FFmpeg à biblioteca imageio.


# moviepy 1.0.3 - Biblioteca Python para edição de vídeo.
moviepy==1.0.3
# Exemplo de uso do moviepy:
# Pode ser usado para criar, editar e processar vídeos em Python.


# numpy 1.26.0 - Biblioteca para computação numérica em Python.
numpy==1.26.0
# Exemplo de uso do numpy:
# Pode ser usado para realizar cálculos numéricos e matemáticos em Python.

# oauthlib 3.2.2 - Uma biblioteca para trabalhar com autenticação OAuth em Python.
oauthlib==3.2.2
# Exemplo de uso do oauthlib:
# Pode ser usado para implementar autenticação OAuth em aplicativos Python.


# Pillow 10.0.1 - Biblioteca de processamento de imagens em Python.
Pillow==10.0.1
# Exemplo de uso do Pillow:
# Pode ser usado para abrir, manipular e salvar imagens em diferentes formatos em Python.



# psycopg2 2.9.7 - Adaptador PostgreSQL para Python.
psycopg2==2.9.7
# Exemplo de uso do psycopg2:
# Pode ser usado para conectar aplicativos Python a bancos de dados PostgreSQL.



# psycopg2-binary 2.9.7 - Pacote binário psycopg2 para PostgreSQL.
psycopg2-binary==2.9.7
# Exemplo de uso do psycopg2-binary:
# Alternativa ao psycopg2 que não requer compilação e é mais fácil de instalar.



# pycparser 2.21 - Análise de código C em Python.
pycparser==2.21
# Exemplo de uso do pycparser:
# Pode ser usado para análise de código C em Python.



# PyJWT 2.8.0 - Implementação Python de JSON Web Tokens (JWT).
PyJWT==2.8.0
# Exemplo de uso do PyJWT:
# Pode ser usado para gerar e verificar tokens JWT em aplicativos Python.



# python3-openid 3.2.0 - Biblioteca Python para autenticação OpenID.
python3-openid==3.2.0
# Exemplo de uso do python3-openid:
# Pode ser usado para adicionar autenticação OpenID em aplicativos Python.



# requests 2.31.0 - Biblioteca HTTP para Python.
requests==2.31.0
# Exemplo de uso do requests:
# Pode ser usado para fazer solicitações HTTP em aplicativos Python.


# requests-oauthlib 1.3.1 - Biblioteca para autenticação OAuth em solicitações HTTP.
requests-oauthlib==1.3.1
# Exemplo de uso do requests-oauthlib:
# Pode ser usado para autenticação OAuth em solicitações HTTP em aplicativos Python.



# setuptools 65.5.0 - Biblioteca para configuração e instalação de pacotes Python.
setuptools==65.5.0
# Exemplo de uso do setuptools:
# Pode ser usado para criar e distribuir pacotes Python.



# sqlparse 0.4.4 - Analisador de SQL em Python.
sqlparse==0.4.4
# Exemplo de uso do sqlparse:
# Pode ser usado para analisar e formatar consultas SQL em Python.



# tqdm 4.66.1 - Barra de progresso de terminal em Python.
tqdm==4.66.1
# Exemplo de uso do tqdm:
# Pode ser usado para adicionar barras de progresso em tarefas demoradas em Python.



# tzdata 2023.3 - Dados de fuso horário para Python.
tzdata==2023.3
# Exemplo de uso do tzdata:
# Pode ser usado para trabalhar com informações de fuso horário em Python.



# urllib3 2.0.6 - Biblioteca cliente HTTP para Python.
urllib3==2.0.6
# Exemplo de uso do urllib3:
# Pode ser usado para fazer solicitações HTTP em aplicativos Python.