{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}
<h3>Lista de Grades Registradas</h3>
<a href="{% url 'cadastrar-grade' %}" class="btn btn-primary btn-sm">Adicionar Novo</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Sub Título</th>
            <th>Setor</th>
            <th>Conteúdo</th>
            <th>Opções</th>
        </tr>

        <!-- percorrer lista de objetos -->
        {% for grade in object_list %}
        <tr>
            <td>{{ grade.title }}</td>
            <td>{{ grade.sub_title }}</td>
            <td>
                {% for setor in grade.setor.all %}
                {{ setor.nome }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for conteudo in grade.conteudo.all %}
                {{ conteudo.title }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'upGrade' grade.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fas fa-pencil-alt"></i> <!-- Ícone de lápis -->
                </a>
                <a href="{% url 'delGrade' grade.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fas fa-trash"></i> <!-- Ícone de lixeira -->
                </a>
                <a href="{% url 'verGrade' grade.pk %}" class="btn btn-info btn-sm" title="Ver Detalhes">
                    <i class="fas fa-eye"></i> <!-- Ícone de olho -->
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhuma grade registrada</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
