{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}
<h3>Lista de Grupos Registrados</h3>
<a href="{% url 'cadastrar-grupo' %}" class="btn btn-primary btn-sm">Adicionar Novo</a>
<h1>Lista de Grupos</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nome do Grupo</th>
      <th>Membros</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for grupo in grupos %}
    <tr>
      <td>{{ grupo.name }}</td>
      <td>
        <ul>
          {% for user in grupo.user_set.all %}
          <li>{{ user.username }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <a href="{% url 'upGrupo' grupo.id %}">Editar</a> |
        <a href="{% url 'delGrupo' grupo.id %}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $('#tabela-conteudo').DataTable({
      "order": [],  // Remova a ordenação padrão se não for necessário
      "language": {
        "url": "{% static 'DataTables/i18n/portugues.json' %}"
      }
    });
  });
</script>
{% endblock %}