{% extends 'paginas/modelo.html' %}
{% load static %}
{% load custom_filters %}

{% block conteudo %}
<!-- Carrossel de Imagens e Vídeos dos Arquivos de Referência ao Conteúdo -->
{% if grade.conteudo.exists %}
<div id="carouselExampleInterval" class="carousel slide text-center shadow" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for conteudo in grade.conteudo.all %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-id="{{ forloop.counter }}"
      data-bs-interval="{{conteudo.tempo}}">
      <!-- Se o conteúdo é um vídeo -->
      {% if conteudo.image %}
      {% if conteudo.image.url|slice:'-4:' == '.mp4' %}
      <video controls autoplay style="max-height: 300px; margin: 0 auto;">
        <source src="{{ conteudo.image.url }}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
      {% else %}
      <img src="{{ conteudo.image.url }}" style="max-height: 300px; margin: 0 auto;" class="img-fluid d-block"
        alt="{{ conteudo.title }}">
      {% endif %}
      {% endif %}
      <div class="carousel-caption">
        <h5>{{ conteudo.title }}</h5>
        <p>{{ conteudo.sub_title }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </a>
</div>

{% else %}
<div class="text-center mt-3">
  <p>Grade vazia</p>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
   $(document).ready(function () {
    var carousel = $('#carouselExampleInterval');
    var items = carousel.find('.carousel-inner .carousel-item');
    var currentItem = 0;
    var videoEnded = false;

    carousel.on('slide.bs.carousel', function (e) {
      var nextItem = $(e.relatedTarget).data('id');
      if (items[nextItem - 1].querySelector('video')) {
        var video = items[nextItem - 1].querySelector('video');
        videoEnded = false;

        video.onended = function () {
          videoEnded = true;
        };
      }
    });

    carousel.on('slid.bs.carousel', function (e) {
      currentItem = carousel.find('.active').index();
      if (items[currentItem].querySelector('video')) {
        var video = items[currentItem].querySelector('video');
        video.play();

        // Aguardar até que o vídeo termine antes de avançar
        var checkVideoEnded = setInterval(function () {
          if (videoEnded) {
            carousel.carousel('next');
            clearInterval(checkVideoEnded);
          }
        }, 100); // Verifique a cada 100 milissegundos se o vídeo terminou
      }
    });
  });
</script>
{% endblock %}