{% extends 'paginas/modelo.html' %}
{% load static %}
{% load custom_filters %}

{% block conteudo %}
<!-- Carrossel de Imagens e Vídeos dos Arquivos de Referência ao Conteúdo -->
{% if grade.conteudo.exists %}
<div id="carouselExampleInterval" class="carousel slide text-center shadow" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for conteudo in grade.conteudo.all %}
      {% if conteudo.tipo == 'video' and conteudo.video.video.url|slice:'-4:' == '.mp4'  %}
        {% with intervalo_tempo=conteudo.video.tempo * 1000 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="{{ conteudo.video.tempo|mul:1000 }}">
          <video class="slide-video" controls style="max-height: 300px; margin: 0 auto;">
            <source src="{{ conteudo.video.video.url }}" type="video/mp4">
            Seu navegador não suporta o formato de Vídeo.
          </video>
        </div>
        {% endwith %}
      {% elif conteudo.tipo == 'imagem' %}
        {% with intervalo_tempo2=conteudo.video.tempo * 1000 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="{{ intervalo_tempo2 }}">
          <img src="{{ conteudo.imagem.image.url }}" style="max-height: 300px; margin: 0 auto;">
        </div>
        {% endwith %}
      {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </a>
  <button id="play-pause" class="btn btn-primary">Play</button> <!-- Botão de play/pause -->
</div>


{% else %}
<div class="text-center mt-3">
  <p>Grade vazia</p>
</div>
{% endif %}
{% endblock %}
